@page "/Register"
@model CoderMind.WebApp.Pages.RegisterModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #fff;
    }
</style>

<div class="row d-flex justify-content-center mt-5">
    <div class="col-3">
        <div class="card">
            <div class="card-title text-center bg-primary">Register</div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <input class="form-control" placeholder="Username" asp-for="RegisterDto.Username" />
                    </div>
                    <div class="form-group my-2">
                        <input type="password" class="form-control" placeholder="Password" asp-for="RegisterDto.Password" />
                    </div>
                    <div class="form-group d-inline-block mt-3">
                        <button class="btn btn-primary btn-block" type="submit">Register</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-page="/Index" class="btn btn-success">Login</a>
            </div>
        </div>
    </div>
</div>