<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoderMind.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoderMind.WebApp.styles.css" asp-append-version="true" />
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="row d-flex mx-1">
            <a asp-page="/note/index" class="btn btn-primary btn-sm btn-block mt-2 mx-1"><i class='bx bxs-add-to-queue'></i> Technology</a>
        </div>
    </header>
    <div class="row d-flex">
        <div class="accordion col-3  mt-3" id="accordionExample">
            @(await Component.InvokeAsync("TechnologySubjects"))
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>