<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoderMind</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoderMind.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" asp-page="/Index"><span class="display-6 text-primary">CoderMind</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <div class="d-flex">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-danger mx-1" asp-page="/account/logout">Logout</a>
                    }
                    else
                    {
                        <a class="btn btn-success mx-1" asp-page="/account/login">Login</a>
                        <a class="btn btn-warning" asp-page="/account/register">Register</a>
                    }

                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-4">
                <a asp-page="/Technology/Create" class="btn btn-primary btn-sm btn-block mt-2"><i class='bx bxs-add-to-queue'></i> Technology</a>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-3">
                <div class="accordion mt-3" id="accordionExample">
                    @(await Component.InvokeAsync("TechnologySubjects"))
                </div>
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>